# .env
NODE_ENV="dev"
FRONTEND_URL=http://localhost:5173

# .env & AWS SSM
AWS_REGION=ap-southeast-1
AWS_ACCESS_KEY_ID=xxxx
AWS_SECRET_ACCESS_KEY=xxxx
AWS_S3_BUCKET=my-bucket

# .env.production (untuk seed Prod (AWS RDS postgres) & test di web dev dgn DB prod)
DATABASE_URL=postgresql://xxx

# harus ada di production AWS SSM
DATABASE_URL=xxx
JWT_SECRET=xxx
API_KEY=xxx
FRONTEND_URL=xxx